/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* @import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css'); */

/* :root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */

#datetime-picker {
  height: 36px;
  width: 272px;
  border-radius: 8px;
  border: 1px solid #2e2f42;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding-left: 16px;
  margin-bottom: 32px;
}

#datetime-picker:hover {
  border: 1px solid #000;
}

#datetime-picker:focus {
  border: 1px solid #4e75ff;
  color: #000;
}

.button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  background-color: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  margin-left: 8px;
  border: 0px transparent;
  cursor: pointer;
}

.button:hover {
  background-color: #6c8cff;
}

.button:disabled {
  background-color: #cfcfcf;
}

.timer {
  display: flex;
}

.field {
  display: flex;
  flex-direction: column;
  margin-right: 24px;
}

.value {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  text-transform: uppercase;
}

.form {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.form > label {
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 80px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 24px;
}

.delay-input {
  border: 1px solid #808080;
  border-radius: 4px;
}

.delay-input:hover {
  border: 1px solid #2e2f42;
}

.delay-input:focus {
  border: 1px solid #4e75ff;
}

.form input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 6px 16px;
}

.form > fieldset {
  width: 333px;
  height: 64px;
  margin-left: 80px;
  margin-bottom: 24px;
  border: 1px solid #808080;
  border-radius: 4px;
}

.form > fieldset:hover {
  border: 1px solid #000;
}

.form > fieldset:focus {
  border: 1px solid #000;
}

.state-options {
  display: flex;
  justify-content: space-between;
  padding: 14px 48px 8px 48px;
}

.form-button {
  border: 0px solid;
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  margin-left: 80px;
  background-color: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.form-button:hover {
  background-color: #6c8cff;
}
